.detailCard {
  width: 100%;
}

.logoImage {
  height: 100%;
  width: 100%;
}

.share {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 8px !important;
  margin-bottom: 8px !important;
  padding-top:8px;
  padding-bottom:8px;
}

.underline {
  padding-top: 5px;
  border-top: 0.5px solid rgba(182, 181, 181, 0.349);
}

.center-align {
  text-align: center;
}

.inputContainer {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;
  justify-content: flex-end;
}

.icon {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: contain;
  filter: drop-shadow(2px 2px 3px rgb(27, 27, 27));
  font-size: 12px;
}

.titleGroup {
  margin-top: 8px;
  margin-bottom: 6px;
}

.title {
  margin: 0px;
}

.overview {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;

  align-items: center;
  justify-content: space-evenly;

  width: 100%;
  padding-top:4px;
  padding-bottom:4px;
}
