.footer {
  background-color: rgb(73, 93, 204);
  color: white;
  text-align: center;
  height: 280px;
  width: 100%;
  box-shadow: 0 -2px 5px 2px rgb(27, 22, 22);
  position: relative;
  z-index: 5;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.projectDescription {
  font-size: 18px;
  font-weight: 380;
  width: 70%;
  text-align: center;

  a {
    color: rgb(69, 189, 0);
    text-decoration: none;
    font-weight: 460;
  }

  line-height: 2em;
  margin: 0px;
}

.copyright {
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  background-color: rgb(104, 122, 221);

  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 -2px 5px 4px rgba(27, 22, 22, 0.349);
  position: relative;
  z-index: 6;

  p {
    margin: 0px;
    font-size: 20px;

    a {
      color: black;
      text-decoration: none;
      font-weight: 400;
    }
  }
}
