mat-toolbar {
  margin-bottom: 20px;
}

mat-toolbar > span {
  margin-left: 10px;
}

.main {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 16px;
  padding-bottom: 16px;
  z-index: 1;

  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow-y: scroll;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.main::-webkit-scrollbar {
  display: none;
}

.page {
  display: flex;
  width: calc(100%);
  height: calc(100% - 64px);

  justify-content: center;
}

.sideNav {
  height: 100%;
  z-index: 2;
}

.side-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}

app-currency-detail {
  width: clamp(350px, 80%, 780px);
  max-height: 100%;

  filter: drop-shadow(5px 5px 15px rgb(27, 27, 27));
  margin-bottom: 20px;
}

app-portfolio {
  width: clamp(350px, 80%, 780px);
  max-height: 100%;

  filter: drop-shadow(5px 5px 15px rgb(27, 27, 27));
}

app-sidenav {
  width: clamp(320px, 35%, 480px);
  // height: 100%;
}

app-side-menu {
  filter: drop-shadow(2px 5px 15px rgb(27, 27, 27));
}

@media (max-width: 767px) {
  .sideNav {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
  }
  .page {
    position: relative;
  }
}

@media (max-width: 550px) {
  .side-menu {
    display: none;
  }
}
