<trade-app-navbar (toggleEvent)="toggleSideBar()"></trade-app-navbar>

<div class="page">
  <app-sidenav
    id="overlapOnMobile"
    class="sideNav"
    *ngIf="isExpanded && liveCurrencyTickers.length > 0"
    [@slideLeft]
    [isExpanded]="isExpanded"
    [liveCurrencyTickers]="liveCurrencyTickers"
    [updateCounter]="updateCounter"
    (selectEvent)="onSelect($event)"
    [selected]="selectedCurrency"
  ></app-sidenav>

  <div class="main">
    <app-currency-detail
      [currencyName]="selectedCurrency"
      [liveCurrencyTickers]="liveCurrencyTickers"
    ></app-currency-detail>

    <app-portfolio
      [liveCurrencyTickers]="liveCurrencyTickers"
      (selectedEvent)="onSelect($event)"
      [selected]="selectedCurrency"
    >
    </app-portfolio>
  </div>

  <div class="side-menu">
    <app-side-menu></app-side-menu>
  </div>
</div>
