<div class="fullheight">
  <app-navbar (toggleEvent)="toggleSideBar()"></app-navbar>

  <div class="page">
    <app-sidenav
      id="overlapOnMobile"
      class="sideNav"
      *ngIf="isExpanded"
      [@slideLeft]
      [isExpanded]="isExpanded"
      [liveCurrencyTickers]="liveCurrencyTickers"
      (selectEvent)="onSelect($event)"
    ></app-sidenav>

    <div class="main">
      <app-currency-detail
        *ngIf="selectedCurrency"
        [currencyName]="selectedCurrency"
        [liveCurrencyTickers]="liveCurrencyTickers"
      ></app-currency-detail>

      <app-portfolio> </app-portfolio>
    </div>
  </div>
</div>
