<div class="menu">
  <a href="/leaderboard">
    <button
      mat-fab
      color="primary"
      aria-label="Example icon button with a delete icon"
    >
      <mat-icon>groups</mat-icon>
    </button>
  </a>
  <button
    mat-fab
    color="accent"
    aria-label="Example icon button with a delete icon"
  >
    <mat-icon>query_stats</mat-icon>
  </button>
  <a href="#footer">
    <button
      mat-fab
      color="warn"
      aria-label="Example icon button with a delete icon"
    >
      <mat-icon>info</mat-icon>
    </button></a
  >
</div>
