<app-subpage-navbar></app-subpage-navbar>

<div class="page">
  <div class="about">
    <h1>About this project:</h1>

    <p class="projectDescription">
      In this project, I built a simple Mock-Trading Website, where you can buy
      and sell cryptocurrencies.<br />
      The frontend of this website is built with Angular, and the
      Angular-Material-UI library. The login process and the underlying database
      was created with Google-Firebase.
      <br />
      <br />
      The goal of the project is to finally settle the debate that you would
      have definitely gained money if you just had bought some Bitcoins, two
      weeks ago.<br /><br />
      The data used in this project is fetched from the
      <a href="https://nomics.com/">Nomics API</a> where the values get updated
      every 10 seconds.
    </p>

    <p>
      © 2022 Copyright:
      <a href="https://manuellerchner.de/" class="text-white">Manuel Lerhcner</a
      ><br /><br />
      <a href="https://nomics.com" rel="nofollow"
        >Crypto Market Cap & Pricing Data Provided By Nomics</a
      >
    </p>
  </div>

  <div class="side-menu">
    <app-side-menu></app-side-menu>
  </div>
</div>
