.logoWrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    margin: 0px;
    margin-right: 10px;
    font-size: 16px;
    font-weight: 500;
  }

  padding-bottom: 8px;
  border-bottom: 1px solid #46464663;
}

img {
  height: 24px;
  width: 24px;
  object-fit: contain;
  filter: drop-shadow(2px 2px 2px rgb(27, 27, 27));
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 2px;
  margin: 2px;
}

table {
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}

tr.last {
  border-bottom: none;
}

th,
td {
  height: 20px;
  padding: 5px;
}

th {
  text-align: right;
}
