.logoWrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: 90%;

  padding-bottom: 8px;
  border-bottom: 1px solid #46464663;

  p {
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 16px;
    font-weight: 500;

    margin: 0px;
  }

  img {
    height: 24px;
    width: 24px;
    object-fit: contain;
    filter: drop-shadow(2px 2px 2px rgb(27, 27, 27));
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  transition: all 0.2s ease-out;
  cursor: pointer;
  border-bottom: solid 4px transparent;
  max-width: 160px;
}

.item:hover {
  transform: scale(1.1);
}

table {
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}

tr.last {
  border-bottom: none;
}

th,
td {
  height: 20px;
  padding: 5px;
  font-size: 14px;
}

th {
  text-align: right;
}

.increase {
  animation: fadeOutGreen 5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.decrease {
  animation: fadeOutRed 5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes fadeOutRed {
  0% {
    color: black;
  }

  20% {
    color: #ff5252;
    font-weight: 500;
  }

  80% {
    color: #ff5252;
    font-weight: 500;
  }

  100% {
    color: black;
  }
}

@keyframes fadeOutGreen {
  0% {
    color: black;
  }

  20% {
    color: #00c853;
    font-weight: 500;
  }

  80% {
    color: #00c853;
    font-weight: 500;
  }

  100% {
    color: black;
  }
}

.selected {
  transform: scale(1.1);
  border-bottom: 4px solid rgb(0, 194, 253);
}
